{
  "mcpServers": {
    "VulnValidator": {
      "command": "uv",
      "args": [
        "--directory",
        "C:\\Users\\PATH\\TO\\PROJECT\\ip6-automatisierte-sicherheitseval",
        "run",
        "python",
        "-m",
        "vuln_validator.mcp_server"
      ]
    },
    "filesystem": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "C:\\Users\\PATH\\TO\\YOUR\\CODE\\FILES"
      ]
    }
  }
}