{
  "mcpServers": {
    "VulnValidator": {
      "command": "uv",
      "args": [
        "--directory",
        "<project_path>",
        "run",
        "python",
        "-m",
        "vuln_validator.mcp_server"
      ]
    },
    "filesystem": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "<code_files_path>"
      ]
    }
  }
}